citys.ws/Service References/Citys.WS/rppCertificateEmissionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://ws.ispac.tdw.ieci/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="authBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="appId" type="xs:int" />
      <xs:element minOccurs="0" name="citizen" type="xs:boolean" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rppCertificateEmissionCertificateBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="certificate" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="certificateType" type="xs:int" />
      <xs:element minOccurs="0" name="folioReal" type="xs:string" />
      <xs:element minOccurs="0" name="motive" type="xs:string" />
      <xs:element minOccurs="0" name="reference" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>